/* Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

@import url('../css/vendor/fonts.css');
@import url('../css/vendor/bootstrap.min.css');
@import url('../css/vendor/fontawesome.css');
@import url('../css/vendor/brands.css');
@import url('../css/vendor/regular.css');
@import url('../css/vendor/solid.css');
@import url('../css/vendor/swiper-bundle.min.css');
@import url('../css/vendor/rtmicons.css');

@property --progress {
    syntax: '<integer>';
    inherits: true;
    initial-value: 0;
}

@keyframes load {
    to {
        --progress: var(--value)
    }
}

@keyframes background_animation {
    from {
        background-size: 100%;
    }

    to {
        background-size: 110%;
    }
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(1, 1, 1);
        transform-origin: center;
        border-width: 0px;
    }

    to {
        opacity: 0;
        transform: scale3d(1.7, 1.7, 1.8);
        transform-origin: center;
        border-width: 13px;
    }
}


:root {
    --dark-color: #0b1f23;
    --light-color: #f9f9f9;
    --secondary-color: #151515;
    --text-color: #000000;
    --gray-color: #adadad;
    --accent-color: #00ff99;
    --font-1: "Maven Pro", sans-serif;
    --font-2: "Roboto", sans-serif;
}

body {
    font-family: var(--font-2);
    color: var(--text-color);
}


h1 {
    font-size: 76px;
}

h2 {
    font-size: 68px;
}

h3 {
    font-size: 48px
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 18px;
}

span,
button,
a {
    font-size: 1rem;
}

p {
    font-size: 14px;
}

ul {
    list-style: none;
}

ul li.col {
    display: flex;
    align-items: center;
}

ul li a {
    font-size: 15px;
}

img {
    object-fit: cover;
    transition: all 0.5s;
    width: 100%;
}

button {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    text-decoration: none;
    transition: all 0.5s;
}

.hover-transform:hover {
    transform: translateY(-10px);
}

button:hover {
    color: black;
}

a {
    text-decoration: none;
}

.w-max-content {
    width: max-content !important;
}

.banner-heading {
    font-size: 5.5rem;
}

.font-1 {
    font-family: var(--font-1);
}

.font-2 {
    font-family: var(--font-2);
}

.ls-2 {
    letter-spacing: 2px;
}

.fs-7 {
    font-size: 0.8rem !important;
}

.fw-black {
    font-weight: 900 !important;
}

.video-e119 {
    width: 60%;
    margin-bottom: -3rem;
    margin-left: -3rem;
}

.form input,
.form textarea,
.form select {
    background-color: transparent;
    padding: 0.8em 1.3em 0.8em 1.3em;
    border-color: gray;
    border-radius: 10px;
    color: currentColor;
}

.form input:focus,
.form textarea:focus,
.form select:focus {
    box-shadow: none;
    border: solid 1px var(--gray-color);
    background-color: transparent;
    color: currentColor;

}

.form input::placeholder,
.form textarea::placeholder {
    color: var(--gray-color);
    font-family: var(--font-2);
    font-size: small;
}

.form .form-select {
    color: #131313;
}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-check-lg" viewBox="0 0 16 16"><path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/></svg>');
}

.form input.form-check-input {
    background-color: transparent;
    border: 1px solid gray;
}

.form input.form-check-input:checked {
    border: 1px solid blue;
    color: blue;
}

.form-control.bg-light {
    color: #3a3a3a;
}

.form-control:focus {
    box-shadow: none;
}



.submit_form-subscribe {
    padding-inline: 2rem;
    padding-block: 0.7rem;
    text-decoration: none;
    transition: all 0.5s;
    color: white;
    background-color: var(--accent-color-1);
    border-radius: 5px;
}

.submit_form-subscribe:hover {
    background-color: var(--dark-bg);
    color: white;
    filter: none;
}

.maps {
    width: 100%;
    height: 480px;
    transition: filter 0.5s;
    display: block;
    filter: grayscale();
}

.maps:hover {
    filter: none;
}

#header {
    transition: all 0.5s ease;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav .nav-link {
    border-bottom: 2px solid transparent;
    font-size: 1rem;
    font-family: var(--font-2);
    padding-block: 1.2rem;
    color: white;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: var(--accent-color);
}

.navbar-nav .nav-link.active {
    color: var(--accent-color);
}

.navbar-nav .nav-link:focus {
    color: var(--accent-color);
}

.navbar-toggler {
    border: none;
    color: var(--accent-color);
}

.navbar-toggler:focus {
    box-shadow: none;
    background-color: transparent;
    color: var(--accent-color);
}

.dropdown-menu {
    background-color: white;
    border-radius: 0;
    border: none;
    padding: 0;
    width: 200px;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.dropdown-item {
    padding-block: 0.75rem;
    color: var(--dark-color);
    font-family: var(--font-2);
    font-size: 1rem;
    font-weight: 500;
    padding-inline: 0.75rem;
}

.dropdown-item.active {
    color: var(--accent-color);
    background-color: white;
}

.dropdown-item:hover {
    background-color: var(--accent-color);
    color: white;
}

.dropdown-item:focus {
    color: var(--accent-color);
}

.dropdown-toggle::after {
    border-top: 0.3em solid var(--accent-color);
    vertical-align: 0.1em;
}

.section {
    padding: 0em 2em 6em 2em;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.subheading {
    font-family: var(--font-1);
    font-weight: 600;
    font-size: 23px;
    color: var(--accent-color);
}

.r-container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.bg-dark-color {
    background-color: var(--dark-color);
}

.bg-light-color {
    background-color: var(--light-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.bg-accent-color {
    background-color: var(--accent-color);
}

.bg-accent-2 {
    background-color: var(--accent-color-2);
}

.bg-accent-opacity {
    background-color: #a55950d5;
}

.accent-color {
    color: var(--accent-color);
}

.accent-color-2 {
    color: var(--accent-color-2);
}

.border-accent-color {
    border-color: var(--accent-color) !important;
}

.border-accent-2 {
    border-color: var(--accent-color-2) !important;
}

.border-6 {
    border-width: 0.6rem !important;
}

.text-gray {
    color: var(--gray-color) !important;
}

.text-secondary-color {
    color: var(--secondary-color);
}

.bg-accent-color-hover:hover {
    background-color: var(--accent-color);
    color: white;
}

.bg-dark-transparent {
    background-color: #232323b7;
}

.btn {
    font-size: 1.1rem;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 48px 14px 48px;
}

.btn-accent {
    background-color: var(--accent-color);
    color: rgb(0, 0, 0);
    transition: all 0.5s;
}

.btn.btn-accent:disabled {
    background-color: var(--accent-color);
}

.btn-accent:hover {
    background-color: var(--dark-color);
    color: white;
    border: 1px solid white;
}

.btn-dark-color {
    background-color: var(--dark-color);
    color: white;
    border: 1px solid white;
    transition: all 0.5s;
}

.btn-dark-color:hover {
    background-color: var(--accent-color);
    color: white;
}

.btn-accent-outline {
    background-color: transparent;
    border: 3px solid var(--accent-color);
    color: var(--accent-color);
}

.btn-accent-outline:hover {
    background-color: var(--accent-color);
    color: white;
}

.btn-white-accent {
    background-color: white;
    color: var(--accent-color);
    border: 3px solid transparent;
}

.btn-white-accent:hover {
    background-color: transparent;
    border-color: white;
    color: white;
}

.btn-white-outline {
    background-color: transparent;
    border-color: white;
    color: white;
    border-width: 3px;
}

.btn-white-outline-hover:hover {
    background-color: transparent;
    border-color: white;
    color: white;
}

.btn-white-outline:hover {
    background-color: white;
    color: var(--accent-color);
}

.image-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #0b1f23;
    opacity: 0.77;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.image-overlay-gradient {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(0deg, var(--accent-color) 2%, #00000027 69%);
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    opacity: 0.655;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #29292987;
    opacity: 0.5;
}

.bg-overlay {
    background-color: #2d222778;
}

.logo-container {
    max-width: 180px;
}

.logo-image {
    max-width: 300px;
}

.divider {
    display: flex;
    align-items: center;
}

.divider::after {
    display: block;
    content: "";
    border-bottom: 0;
    flex-grow: 1;
    border-top: 3px solid #8692af;
    max-width: 30px;
    min-width: 30px;
}


.divider-element {
    letter-spacing: 2px;
    flex-shrink: 0;
    flex-grow: 1;
    margin: 0;
    margin-left: 1rem;
    font-weight: 400;
}

.text-title {
    font-size: 5.6rem;
}

.image-infinite-bg {
    height: 90vh;
}

.animation-bg {
    animation: background_animation 10s forwards;
}

.bg-attach-fixed {
    background-attachment: fixed;
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.social-container.social-large .social-item {
    width: 35px;
    height: 35px;
    font-size: 23px;
}

.social-item {
    font-size: 16px;
    width: 28px;
    height: 28px;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: white;
    border: 1px solid transparent;
}

.social-container.accent .social-item {
    background-color: var(--accent-color);
    color: white;
}

.social-container.accent .social-item:hover {
    background-color: transparent;
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.social-container.share .social-item {
    background-color: var(--accent-color);
    color: white;
}

.social-container.share .social-item:hover {
    background-color: transparent;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.social-container.team .social-item {
    width: 1.8rem;
    height: 1.8rem;
    font-size: 16px;
}


.social-item:hover {
    background-color: white;
    color: var(--accent-color);
}

.social-container .share-button {
    background-color: var(--accent-color-1);
    aspect-ratio: 1/1;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.team-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.team-container .team-description {
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    color: white;
}

.team-container .team-name {
    font-weight: 600;
    font-family: var(--font-1);
    font-size: 1.3rem;
}

.team-container .team-designation {
    color: var(--accent-color);
    font-size: 14px;
}

.team-container .team-social {
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    justify-content: center;
    transform: translateX(-3rem);
    gap: .7rem;
}

.team-social .social-item {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.team-container:hover .team-social {
    transform: translateX(0);
}

.share-button:hover {
    background-color: var(--accent-color);
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    background-color: transparent;
    color: var(--accent-color);
    border: none;
    position: relative;
}

.nav-tabs .nav-link:hover {
    border: none;
    color: white;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    border: none;
}

.nav-tabs .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
}

.breadcrumb {
    align-items: center;
}

.breadcrumb .breadcrumb-item>a {
    color: white;
}

.breadcrumb .breadcrumb-item.active {
    color: var(--accent-color);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

.swiper-pagination {
    margin-block: 1rem;
    position: relative;
}

.swiper-slide {
    padding: 0.5rem;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--accent-color);
}

.swiper-navigation {
    position: absolute;
    right: 0;
    bottom: 1rem;
    z-index: 10;
    padding-inline: 1rem;
}

.swiper-prev-btn, .swiper-next-btn {
    color: white;
    font-size: 2rem;
    background: transparent;
    border: none;
}

.swiper-prev-btn:hover, .swiper-next-btn:hover {
    color: var(--accent-color);
}

.swiper-prev-btn:disabled, .swiper-next-btn:disabled, .swiper-button-disabled {
    border: none;
    opacity: 0.4;
}

.video-container {
    aspect-ratio: 3/2;
    background-size: cover;
    background-position: center;
    position: relative;
    border: 5px solid white;
    border-radius: 10px;
}

.video-iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video-btn {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 4rem;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 2rem;
    color: white;
    border: none;
    opacity: 0.7;
}

.video-btn:hover {
    opacity: 1;
    color: white;
}

.border-custom {
    border-width: 0px 1px 0px 0px;
    border-color: var(--accent-color);
    border-style: solid;
}

.card {
    border: none;
    border-radius: 10px;
    transition: all 0.5s;
    position: relative;
    transition: all 0.5s;
    color: var(--text-color);
}

.card.card-dark, .card.bg-dark-color {
    background-color: var(--dark-color);
    color: white;
}

.card.card-dark:hover {
    background-color: var(--accent-color);
}

.card.card-accent, .card.bg-accent-color {
    background-color: var(--accent-color);
    color: white;
}

.card.card-accent:hover {
    background-color: var(--dark-color);
}

.card-hover-border-bottom.bg-dark-color {
    border-bottom: 0.6rem solid var(--dark-color);
}

.card-hover-border-bottom:hover {
    border-bottom: 0.6rem solid var(--accent-color);
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    transition: all 0.5s;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
    padding: 1em 2em;
    font-size: 14px;
}

.image-box img {
    width: 5rem;
}

.icon-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.icon-list .list-item {
    display: flex;
    flex-direction: row;
}

.icon-list .list-item span {
    font-size: 3.7rem;
    font-weight: 700;
    color: var(--accent-color);
    font-family: var(--font-1);
    line-height: 1;
    opacity: 0.2;
    margin-right: -1rem;
}

.icon-list .list-item p {
    font-size: 14px;
}

.card.icon-box {
    padding: 1em;
}

.card.icon-box h3 {
    font-size: 52px;
}

.icon-box i {
    font-size: 50px;
}

.list .icon-box {
    width: 4.3rem;
    height: 4.3rem;
}

.card .card-title {
    font-size: 1.3rem;
    font-family: var(--font-1);
    font-weight: 600;
    line-height: 1;
    color: white;
    transition: all 0.5s;
}

.card .card-title:hover {
    color: var(--accent-color);
}

.card .icon-box.bg-accent-color {
    background-color: var(--accent-color);
    color: white;
}

.card .icon-box.accent-color-2 {
    color: var(--accent-color-2);
    font-size: 4rem;
}

.card:hover .icon-box.accent-color-2 {
    color: white;
}


.card.card-outline-hover {
    border: 3px solid transparent;
}

.card.card-outline-hover:hover {
    background-color: transparent;
    border: 3px solid var(--accent-color);
    transform: none;
    color: #131313;
}

.card-overlay:hover {
    transform: translateY(-20px);
}

.card:hover .icon-box.bg-accent-color {
    background-color: white;
    color: var(--accent-color);
}

.card-overlay .card-body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: #f1260280; */
    background: linear-gradient(0deg, #f1260280 60%, #00000082 100%);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all 0.5s;
}

.card-overlay:hover .card-body {
    opacity: 1;
    transform: scaleY(1);
}

.card:hover .card-image img {
    transform: scale(1.2);
}

.request-loader {
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 50% !important;
    /* border: solid 1px rgba(255, 255, 255, 0.5); */
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
    font-size: 25px;
}

.request-loader:hover {
    border: solid 1px rgba(255, 255, 255, 0.5);
    color: var(--accent-color);
    background-color: transparent;
}


.request-loader::after,
.request-loader::before {
    opacity: 0.2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    border: 0px solid currentColor;
    border-radius: 50%;
    animation-name: ripple;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.65, 0, .34, 1);
    z-index: 0;
}

.request-loader::after {
    animation-delay: 0.4s;
    animation-duration: 3s;
}

.request-loader::before {
    animation-delay: 0.1s;
    animation-duration: 2.5s;
}


.r-progress {
    --value: 17;
    --progress-color: var(--accent-color);
    --secondary-progress-color: var(--gray-color);
    --animation-duration: 2000;
}

.r-progress-bar {
    position: relative;
    height: 8px;
    background-color: var(--secondary-progress-color);
    display: flex;
    border-radius: 10px;
    /* overflow: hidden; */
}

.r-progress-bar .progress-value {
    height: 100%;
    width: calc(var(--progress) * 1%);
    background-color: var(--progress-color);
    position: relative;
    border-radius: 8px;
    animation: load;
    animation-fill-mode: forwards;
    animation-duration: calc(var(--animation-duration) * 1ms);
    animation-timing-function: linear;
    animation-delay: 500ms;
    color: black;
}

.r-progress-bar.percentage-label::after {
    counter-reset: percentage var(--progress);
    content: counter(percentage) '%';
    display: block;
    position: absolute;
    left: calc((var(--progress) * 1%));
    animation: load;
    animation-fill-mode: forwards;
    animation-duration: calc(var(--animation-duration) * 1ms);
    animation-timing-function: linear;
    animation-delay: 500ms;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    font-family: var(--font-2);
    bottom: calc(100% + 0.5rem);
}

.circular-progress {
    position: relative;
    width: 10rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: conic-gradient(var(--progress-color) calc(var(--progress) * 3.6deg), var(--secondary-progress-color) 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: load;
    animation-fill-mode: forwards;
    animation-duration: calc(var(--animation-duration) * 1ms);
    animation-timing-function: linear;
    animation-delay: 500ms;
}

.circular-progress .progress-value {
    background-color: var(--secondary-color);
    position: absolute;
    width: calc(100% - 15px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-direction: column-reverse;
    animation: load;
    animation-fill-mode: forwards;
    animation-duration: calc(var(--animation-duration) * 1ms);
    animation-timing-function: linear;
    animation-delay: 500ms;
}

.circular-progress.percentage-label::after {
    counter-reset: percentage var(--progress);
    content: counter(percentage) '%';
    animation: load;
    animation-fill-mode: forwards;
    animation-duration: calc(var(--animation-duration) * 1ms);
    animation-timing-function: linear;
    animation-delay: 500ms;
    z-index: 2;
    position: relative;
    font-family: var(--font-1);
    font-size: 2.8rem;
    font-weight: 700;
}

.circular-progress .progress-value::before {
    content: var(--title);
}

.ifr-video {
    aspect-ratio: 16/9;
    width: 100%;
}

.post-button {
    background-color: transparent;
    color: var(--accent-color) !important;
    border: none !important;
}

.post-button:hover {
    background-color: transparent !important;
    color: var(--accent-color) !important;
    transform: scale(1.15);
}

.card.with-border-bottom {
    border-bottom: 5px solid var(--accent-color) !important;
}

.list.list-style-accent i {
    color: var(--accent-color);
    font-size: 1.6rem;
}

.list-flush-horizontal {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 1rem;
}

.list-flush-horizontal .list-item:first-child,
.list-flush-horizontal .list-item {
    border-right: 1px solid #d1d1d1;
}

.list-flush-horizontal .list-item:last-child {
    border-left: 1px solid #d1d1d1;
    border-right: none;
}

.list-flush-horizontal .list-item:nth-last-child(2) {
    border: none;
}

.list-group .list-group-item {
    background-color: transparent;
    border-color: #d1d1d1;
    color: var(--text-color);
}

.list-group .list-group-item .link {
    color: var(--text-color);
}

.list-group .list-group-item .link:hover {
    color: var(--accent-color);
}

.list-group .list-group-item.active {
    background-color: var(--accent-color);
}

.list-group .list-group-item.list-group-item-action:hover {
    background-color: var(--accent-color);
    color: white;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-inline: 0.5rem;
}

a.link:hover {
    color: var(--accent-color);
}

.list .link {
    font-weight: 400;
}

.list li {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
}

.list li .link {
    transition: all 0.5s;
}

.bg-dark-color .list .link {
    color: white;
}

.list.text-black i {
    color: #131313;
}

.list li .link:hover,
.list li .link:hover i {
    color: var(--accent-color);
}

.card .link {
    color: var(--text-color);
    transition: color 0.5s;
}

.card .link:hover {
    color: var(--accent-color);
}

.link.accent-color {
    color: var(--accent-color);
    transition: color 0.5s;
}

.link.accent-color:hover {
    color: var(--dark-bg);
}

.link {
    color: #131313;
    cursor: pointer;
}

.link:hover {
    color: #3a3a3a;
}

.link-white {
    color: white;
}

.link-white:hover {
    color: var(--accent-color);
}

.glass-effect {
    background: #a55950d5;
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
}

.fs-very-large {
    font-size: 4.125rem;
}

.fs-404 {
    font-size: 15rem;
}

.border-bottom-hover:hover {
    border-bottom: 2px solid var(--accent-color);
}

.testimonial-container {
    background-color: #1c2326b3;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.rating {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    padding: 0;
    margin: 0;
}

.rating li {
    color: #f0ad4e;
}

.rating li.inactive {
    color: #d9d9d9;
}

.logo-partner {
    filter: brightness(200%) contrast(0%) saturate(0%) blur(0px) hue-rotate(0deg);
    transition-duration: 0.5s;
}

.logo-partner:hover {
    filter: none;
}


.accordion .accordion-item {
    border: none;
    background-color: transparent;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item:first-of-type, .accordion-item:first-of-type .accordion-button {
    border-radius: 0px;
}

.accordion .accordion-button {
    background-color: white;
    /* box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 1); */
    font-weight: 600;
    font-size: 1.1rem;
    padding: 1.5rem;
    color: var(--text-color);
    border-bottom: solid 1px var(--accent-color);
    font-family: var(--font-1);
}

.accordion.accordion-bg-accent .accordion-button {
    background-color: var(--accent-color);
    font-size: 15px;
    border: none;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0px;
}

.accordion .accordion-button::after {
    color: white;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 20 20"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
}

.accordion.accordion-bg-accent .accordion-button::after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g><path d="M456.843,364.514L264.951,170.918c-1.402-1.415-3.311-2.214-5.303-2.221c-0.008,0-0.016,0-0.024,0 c-1.984,0-3.887,0.786-5.293,2.187l-54.923,54.71c-2.935,2.923-2.944,7.672-0.021,10.606c2.923,2.934,7.672,2.943,10.606,0.021 l49.596-49.403l186.599,188.257c1.466,1.479,3.396,2.22,5.327,2.22c1.908,0,3.817-0.724,5.28-2.173 C459.738,372.205,459.759,367.456,456.843,364.514z"/><path d="M153.646,271.407L61.579,363.92c-2.922,2.936-2.911,7.685,0.025,10.606c1.463,1.456,3.377,2.184,5.291,2.184 c1.925,0,3.851-0.737,5.316-2.21l92.066-92.513c2.922-2.936,2.911-7.685-0.025-10.606 C161.316,268.46,156.567,268.471,153.646,271.407z"/><path d="M179.063,245.939l-5.095,5.095c-2.928,2.93-2.928,7.679,0.001,10.606c1.465,1.465,3.384,2.196,5.303,2.196 c1.919,0,3.839-0.732,5.304-2.197l5.091-5.093c2.93-2.928,2.93-7.677,0.002-10.606 C186.741,243.012,181.993,243.011,179.063,245.939z"/></g></svg>');
}

.accordion-button:not(.collapsed) {
    /* box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 1); */
    color: var(--accent-color);
}

.accordion.accordion-bg-accent .accordion-button:not(.collapsed) {
    color: blue;
}



.accordion .accordion-body {
    background-color: transparent;
    font-size: 14px;
    color: var(--gray-color);
}

.custom-border {
    border-width: 10px;
    border-style: solid;
    border-color: white;
}

.position-lg-absolute {
    position: absolute;
}

.w-60 {
    width: 60% !important;
}

.shadow-accent-2 {
    -webkit-box-shadow: -90px -23px 0px 0px var(--accent-color-2);
    -moz-box-shadow: -90px -23px 0px 0px var(--accent-color-2);
    box-shadow: -90px -23px 0px 0px var(--accent-color-2);
}

.text-404 {
    font-size: 10rem;
    font-weight: 700;
}


.floating-date {
    position: absolute;
    bottom: -1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}

.floating-date span {
    font-family: var(--font-2);
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1;
    font-size: 10px;
}

.floating-date strong {
    font-weight: 700;
    font-size: 1.1rem;
}

.floating-left-custom {
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.floating-right-custom {
    position: absolute;
    right: -1rem;
    top: 5rem;
}

.pricing-container {
    display: flex;
    flex-direction: column;
    padding-inline: 2em;
    padding-block: 3em;
    border-radius: 10px;
    border: 1px solid var(--accent-color);
    color: var(--text-color);
    transition: all 0.5s;
}

.pricing-container:hover {
    background-color: var(--dark-color);
    color: white;
    transform: scale(1.1);
}

.pricing-container span {
    font-size: 14px;
}

@media only screen and (max-width:993px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 14px;
    }

    span,
    button,
    a {
        font-size: 13px;
    }

    .btn {
        font-size: 20px;
        width: 100%;
    }

    .section {
        padding: 0em 2em 4em 2em;
    }

    .divider {
        width: 330px;
    }

    .fs-very-large {
        font-size: 3.125rem;
    }

    .image-absolute-1 {
        left: 45%;
        top: 35%;
    }

    .image-infinite-bg {
        background-size: cover !important;
    }

    #header {
        background: #a55950d5;
        backdrop-filter: blur(11px);
        -webkit-backdrop-filter: blur(11px);
    }

    .border-custom {
        border-width: 0px 0px 1px 0px;
    }

    .outer-margin {
        margin-right: 0;
    }

    .nav-link {
        padding-block: 0.2rem;
    }

    .navbar-nav .nav-link {
        padding-block: 0.2rem;
    }

    .banner-image {
        margin: 0;
        transform: none;
    }

    .heading {
        margin-top: -40px;
    }

    .testimonial-img {
        margin: 0;
        margin-bottom: 1rem;
    }

    .dropdown-menu {
        width: 100%;
        box-shadow: none;
    }

    .nav-item.dropdown .dropdown-menu {
        background-color: var(--dark-color);
    }

    .nav-item.dropdown .dropdown-menu .dropdown-item {
        color: white;
        text-align: start;
    }

    .video-e119 {
        width: 85%;
        margin-left: -1.5rem;
    }

    .dropdown-item {
        padding-block: 0.35rem;
    }

    .floating-top {
        top: 1.5rem;
    }

    .floating-bottom {
        bottom: 1.5rem;
    }

    .footer-img {
        position: relative;
    }

    .form-appointment-container {
        position: relative;
        transform: translateY(0);
    }

    .list-flush-horizontal {
        flex-direction: column;
    }

    .list-flush-horizontal .list-item:first-child,
    .list-flush-horizontal .list-item {
        border-right: none;
        border-bottom: 1px solid #d1d1d1;
    }

    .list-flush-horizontal .list-item:last-child {
        border-left: none;
        border-bottom: none;
        border-top: 1px solid #d1d1d1;
    }

    .position-lg-absolute {
        position: static;
    }

    .banner-heading {
        font-size: 2.5rem;
    }

    .text-title {
        font-size: 4rem;
    }

    .floating-left-custom {
        bottom: 1.8rem;
    }

    .floating-right-custom {
        top: 1.6rem;
    }

    

}